<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.example.lesson02.dao.UsedGoodsDAO"> <!-- Dao의 패키지명 복붙 및 메소드 복붙 -->
 	<select id="selectUsedGoodsList" resultType="com.example.lesson02.model.UsedGoods"> <!-- UsedGoods.java의 패키지명 복붙 -->
 		SELECT
 			*
 		FROM
 			`used_goods`
 	</select>
 </mapper>